* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  max-width: 1920px;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Romul-Regular";
  src: url("../fonts/Romul-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html, body {
  overflow-x: hidden;
}

body {  
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.cursor {
  cursor: pointer;
}
/* ----------------header---------------- */
header {
  max-width: 1200px; 
  height: 158px;  
}

.header__image-wrapper {
  margin-top: 26px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.header__lines {
  width: 570px;
  height: 1px;
  z-index: 2;
}

.header__logo {
  margin-left: -64px;
  margin-top: -10px;
  z-index: 1;
}

.first-line {
  margin-left: -4px;
}

.second-line {
  margin-left: -67px;
}

.header__middle-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: -44px;
  margin-left: 23px;
}

.header__middle-phones-wrapper {
  display: flex;
  flex-wrap: nowrap; 
}

.phones {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 35px;
}

.phone-number {
  font-family: "Montserrat-Medium";  
  font-size: 18px;
  margin-top: -1px;
  word-spacing: 1px;
}

.second-line-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.phone-time {
  font-family: "Montserrat-Medium";
  font-size: 13px;
  color: #d0aa8c;
  word-spacing: 1.75px;

}

.first-phone .phone-time {
  font-size: 14px;
}

.peach-line {
  width: 39px;
  height: 1px;
  margin-left: 4px;
}

.second-phone .peach-line {
  margin-left: 8px;
}

.header_middle-buttons-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.header__buttons {
  background-color: #ffffff;
  border:1px solid black;
  width: 186px;
  height: 30px;
  margin-left: 19px;
  margin-right: 6px;
}

.header__buttons:hover {
  background-color: #d0aa8c;
  border:1px solid #d0aa8c;
  color: #ffffff;
}

.header__buttons-font{
  font-family: "Montserrat-Medium";
  font-size: 16px;
}

.header__menu {
  background: linear-gradient(to bottom right, #2f2c34, #d0aa8c 400%);
  width: 1920px;
  height: 60px;  
  margin-top: 25px;
  transform: translateX(-18.75%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.header__menu-buttons {
  width: 1170px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.menu-button {
  border: none;
  background-color: transparent;
  height: 20px;
}

.first-button {
  width: 193px;  
  display: flex;
  justify-content: flex-start;
}

.second-button {
  width: 251px;
  border-left: 1px solid #747177;
}

.third-button {
  width: 286px;
  border-left: 1px solid #747177;
}

.fourth-button {
  width: 273px;
  border-left: 1px solid #747177;
}

.fifth-button {
  width: 239px;  
  border-left: 1px solid #747177;
}

.sixth-button {
  width: 192px;  
  border-left: 1px solid #747177;
  display: flex;
  justify-content: flex-end;
}

.menu-button:visited, .menu-button:focus, .menu-button:active, .menu-button:hover{
    outline:0 none !important;
}

.menu-button-font {
  font-family: "Romul-Regular";
  font-size: 15px;
  color: #ffffff;
  margin-left: 8px;
}

.menu-button-font:visited, .menu-button-font:active {
  color: #d0aa8c !important;
}

.second-button .menu-button-font {
  margin-left: -5px;
}

.third-button .menu-button-font {
  margin-left: -6px;
}

.fourth-button .menu-button-font {
  margin-left: -6px;
}

.fifth-button .menu-button-font {
  margin-left: -2px;
}

.sixth-button .menu-button-font {
  margin-right: -7px;
}
/* -------------breadcrumbs------------- */
.breadcrumbs {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 28px;
}

.breadcrumbs__first-dir,
.breadcrumbs__next-dir,
.breadcrumbs__last-dir {
  width: 80px;
  height: 10px;
  display: flex;
}

.breadcrumbs__next-dir {
  border-left: 1px solid black;
}

.breadcrumbs__last-dir {
  border-left: 1px solid #d0aa8c;
}

.breadcrumbs__first-dir-text,
.breadcrumbs__next-dir-text,
.breadcrumbs__last-dir-text {
  font-family: "Montserrat-Medium";
  font-size: 10.5px;
  margin-left: 9px;
  margin-top: -2px;
}

.breadcrumbs__first-dir-text {
  margin-left: 16px;
}

.breadcrumbs__last-dir-text {
  color: #d0aa8c;
  margin-left: 4px;
}
/* ---------------tagline--------------- */
.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1170px;
  border-top: 1px solid #e7e8e9;
}

.tagline__first-string {
  font-family: "Montserrat-Regular";
  font-size: 17px;
  margin-top: 26px;
  letter-spacing: 1px;
  margin-left: 15px;      
}

.tagline__second-string-wrapper {
  margin: 4px 0 0 15px;
}

.tagline__second-string {
  font-family: "Romul-Regular";
  font-size: 37.5px;
  margin: 0px 10px;
}

.peach-line-big {
  margin-bottom: 12px;
}

.peach-line-big:last-of-type {
  margin-left: 2px;
}

.tagline__text {
  font-family: "Montserrat-Medium";
  font-size: 12.5px;
  margin-top: 26px;
  margin-left: 22px;
  word-spacing: 2.7px;
  line-height: 16px;
}

.tagline__text span {
  line-height: 21px;
  word-spacing: 3.4px;
  margin-left: -8px;
}
/* -----------image-area----------- */
.image-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1170px;
  margin-top: 48px;
  margin-left: 15px;
}

.image-area__block {
  display: flex;
  flex-direction: row;
}

.block__ceil {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 548px;
  width: 555px;
}

.first-ceil{
  margin-right: 30px;
}

.second-ceil {
  margin-left: 30px;
}

.picture{
   width: 555px;
  height: 235px;
}

.ceil__teatle {
  font-family: "Romul-Regular";
  font-size: 25px;
  margin-top: 21px;
  margin-left: 2px;
  letter-spacing: 1.5px;
}

.first-block .second-ceil .ceil__teatle,
.second-block .second-ceil .ceil__teatle {
  letter-spacing: -0.8px;
}

.peach-line-long {
  margin-top: 21px;
}

.ceil__text {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  margin-top: 22px;
  letter-spacing: 0.33px;
}

.ceil__button {
  background-color: transparent;
  border: 2px solid black;
  width: 275px;
  height: 43px;
  margin-top: 27px;
  margin-left: -1px;
}

.ceil__button:hover {
  background-color: #d0aa8c;
  border: 2px solid #d0aa8c;
  color: #ffffff;
}

.third-block .ceil__button {
  margin-top: 28px;
}

.ceil__button-font {
  font-family: "Montserrat-Medium";
  font-size: 15px;
  margin-left: 1px;
  letter-spacing: 0.5px;
}
/* ---------------footer--------------- */
footer {
  width: 100%;
  margin-top: 9px;
  height: 340px;
  background-image: url('../img/footer.png'); 
  transform: translateX(-0.25%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer__wrapper {
  width: 1170px;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-left: 30px;
}

.footer__info {
  display: flex;
  flex-direction: row;
}

.footer__blocks {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-family: "Romul-Regular";
  font-size: 18.5px;
  color: #ffffff;
}

.footer__type {
  font-family: "Montserrat-Regular";
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #9f9f9f;
  margin-top: 5px;
}

.footer__type:hover {
  color: #ffffff;
}

.vertical-line-footer {
  width: 2px;
  height: 136px;
  margin-top: 71px;
  margin-left: -2px;
}

.vertical-line-footer.second-l {
  margin-left: 4px;
}

.vertical-long-line-footer {
  width: 2px;
  height: 207px;
  margin-left: 1px;
  margin-top: 1px;
}

.info__cars {
  width: 245px;  
}

.info__services {
  width: 257px;
}

.info__about-us {
  width: 237px;
}

.peach-line-footer {
  margin-top: 15px;
  margin-bottom: 24px;
  margin-left: 2px;
  width: 68px;
}

.info__services,
.info__about-us {
  margin-left: 81px;
}

.info__contacts {
  margin-left: 72px;
  margin-top: -8px;
}

.footer-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9f9f9f;
  width: 185px;
  height: 36px;
}

.footer-button.second-btn{
  margin-top: 5px;
}

.footer-button-font {
  font-family: "Montserrat-Medium";
  font-size: 16.5px;
  color: #9f9f9f;
}

.footer-button-font.second-btn {
  letter-spacing: 1px;
}

.footer-button:hover {
  border-bottom: 1px solid #ffffff;  
}

.footer-button-font:hover {
  color: #ffffff;
}

.phones-block {
  background-color: rgba(255, 255, 255, 0.15);  
  width: 185px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 16px;
}

.phones-block__phones {
  font-family: "Montserrat-Medium";
  font-size: 16.5px;
  color: #ffffff;
  margin-top: 9px;
  margin-right: 21px;
  letter-spacing: -0.4px;
}

.sec-phone {
  margin-top: 4px;
  letter-spacing: 0.1px;
}

.phones-block__text {
  font-family: "Montserrat-Medium";
  font-size: 8.5px;
  color: #9f9f9f;
  margin-right: 21px;
}

.icons{
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  margin-right: 11px;
}

.icon {
width: 28px;
height: 28px;
margin-right: 11px;
}

.footer__copyright {
  font-family: "Montserrat-Regular";
  font-size: 15.5px;
  color: #9f9f9f;
  margin-top: 46px;
  margin-left: 2px;
  letter-spacing: -0.3px;
}
